name: pm-dev

services:

  pm-frontend-dev:
    image: plusmin/pm-frontend:${PM_DEV_VERSION}
    container_name: pm-frontend-dev
    environment:
      - TZ=Europe/Amsterdam
      - VITE_ASGARDEO_CLIENT_ID=ahVUPaBf3D1mE5xrZIM2aAmIRVYa
      - VITE_ASGARDEO_BASE_URL=https://api.eu.asgardeo.io/t/plusmin
      - VITE_ASGARDEO_SIGNIN_REDIRECT_URL=https://dev.plusmin.org
      - VITE_ASGARDEO_SIGNOUT_REDIRECT_URL=https://dev.plusmin.org/login
    ports:
      - "3035:3035"
    networks:
      - npm_default
    depends_on:
      - pm-backend-dev
    restart: always

  pm-backend-dev:
    image: plusmin/pm-backend:${PM_DEV_VERSION}
    container_name: pm-backend-dev
    environment:
      - TZ=Europe/Amsterdam
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - npm_default
    ports:
      - "3045:3045"
    depends_on:
      - pm-database-dev
    restart: always

  pm-database-dev:
    image: plusmin/pm-database:${PM_DEV_VERSION}
    container_name: pm-database-dev
    environment:
      - TZ=Europe/Amsterdam
      - POSTGRES_USER=pm
      - POSTGRES_PASSWORD=pm
      - POSTGRES_DB=pm
    volumes:
      - pm-database-dev:/var/lib/postgresql/data
    networks:
      - npm_default
    ports:
      - "5435:5432"
    restart: always

volumes:
  pm-database-dev:

networks:
   npm_default:
    external: true
